<!DOCTYPE html>
 <html>
  <head>
   <meta charset="UTF-8">
   <title>kodBook</title>
  </head>
  <body>
   <h1>Welcome to kodbook!</h1>
   <hr>
   <form action="/login" method="post">
   <label>USERNAME:</label>
   <input type="text" name="username">
   <br><br>
   
   <label>PASSWORD:</label>
   <input type="text" name="password">
   <br><br>
   
   <input type="submit" value="LOGIN">
   
   <hr>
   <a href="/openResetPassword">Forgot password</a>
   <a href="/openSignUp">Create a new account</a>
   
   
   
   
   </form>
  </body>
</html>