<!DOCTYPE html>
 <html>
  <head>
   <meta charset="UTF-8">
   <title>kodBook</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  </head>
  <body>
   <h1 class="kodbook">KodBook</h1>
		<h3 class="content">#1 Social media app!</h3>
		<hr>
		<form class="form" action="/login" method="post">
			<label>USERNAME : </label>
			<input type = "text" name = "username">
			<br><br>
			
			<label>PASSWORD : </label>
			<input type = "password" name = "password">
			<br><br>
			
			<input type="submit" value = "LOGIN">
			<hr>
			<a href = "/openResetPassword">Forgot password?</a>
			<a href = "/openSignUp">Create new account</a>
		</form>
  </body>
</html>